@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<div>
    <h1>
        Wystąpił błąd podczas obsługi żądania
    </h1>
    <h2>
        @ViewBag.Message
    </h2>
    @Html.ActionLink("Przejdź do strony głównej", "Index", "Home")

    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>@Model.Exception.StackTrace</pre>
            </div>
        </div>
    }
</div>